/*
 * This file is part of HX3 Forum.
 *
 * (c) Herbert "Atomic" Walde <herbert.walde@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/*!
 * This file is part of HX3 Forum.
 *
 * (c) Herbert "Atomic" Walde <herbert.walde@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
body {
  box-sizing: border-box;
  font-family: "Open Sans", serif;
  font-size: 14pt;
  background-color: #000000;
  color: #efefef;
  margin: 0;
  padding: 0;
}

a {
  color: #efefef;
}

#footer {
  font-size: 10pt;
  margin: 2em;
  margin-top: 3em;
  text-align: center;
}

h1 {
  text-align: center;
}

#forum-detail h2, #forum-overview h2, #thread-detail h2 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1.5em;
}
#forum-detail h2:first-child, #forum-overview h2:first-child, #thread-detail h2:first-child {
  margin-top: 0;
}

#forum-detail h2, #thread-detail h2 {
  margin-top: 0;
}
#forum-detail .pagination, #thread-detail .pagination {
  text-align: center;
  font-size: 10pt;
}
#forum-detail .pagination ul, #thread-detail .pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#forum-detail .pagination li, #thread-detail .pagination li {
  display: inline;
}
#forum-detail .pagination li + li:before, #thread-detail .pagination li + li:before {
  content: "> ";
}

#sub-forum-list ul, #sub-thread-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sub-forum-list li, #sub-thread-list li {
  margin: 2px 0;
}
#sub-forum-list li .content, #sub-thread-list li .content {
  padding: 5px;
  color: #000000;
  background-color: #efefef;
}
#sub-forum-list li:nth-child(odd) .content, #sub-thread-list li:nth-child(odd) .content {
  background-color: #dddddd;
}
#sub-forum-list li .content:hover, #sub-thread-list li .content:hover {
  background-color: #ffffff;
}

.page-list {
  text-align: center;
}
.page-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-list li {
  display: inline;
}
.page-list li a {
  text-decoration: underline;
}
.page-list li + li:before {
  content: "| ";
}
.page-list .label {
  font-size: 12pt;
  padding-bottom: 5px;
}

#header {
  margin: 0;
  padding: 0;
  display: block;
}

#page-title {
  font-size: 24pt;
  padding: 0;
  margin: 1em;
}

#page-title a {
  text-decoration: none;
}

#content {
  margin: 1em;
  max-width: 1500px;
}

.posts {
  display: flex;
  flex-direction: column;
}

.post, #sub-thread-list {
  margin-bottom: 1em;
}

.post {
  background-color: #efefef;
  color: #000000;
}

.post-title, .post-content, .post-footer {
  padding: 1em;
}

.post-title {
  padding-bottom: 0;
  margin-bottom: 0;
}

.post-content, .post-content a {
  color: #000000;
}

.post-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #444;
  color: #dddddd;
  padding: 0 1em 0 1em;
}

.quote {
  padding: 1em;
  margin: 1em;
  border: 1px solid white;
  background-color: #dddddd;
  border-radius: 1em;
}

code {
  font-size: 10pt;
}

@media (min-width: 1000px) {
  /*body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    //flex-flow: nowrap;
    justify-content: flex-start;
    ;
  }*/
  .post-content-wrap {
    display: grid;
    grid-template-columns: 1fr;
  }

  .post-content {
    columns: 2;
    column-gap: 3em;
  }

  #sub-forum-list, #sub-thread-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  #sub-forum-list ul, #sub-thread-list ul {
    columns: 2;
    column-gap: 1em;
  }
}
@media (min-width: 1400px) {
  .post-content {
    columns: 3;
  }

  #sub-forum-list ul, #sub-thread-list ul {
    columns: 3;
  }
}

/*# sourceMappingURL=all.css.map */
