/*
 * This file is part of HX3 Forum.
 *
 * (c) Herbert "Atomic" Walde <herbert.walde@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import 'colors';

body {
    font-family: "Open Sans", serif;
    font-size: 14pt;
}
.header logo{
    font-size: 16pt;
    margin: 40px;

}